src/main/resources/googlenewsrss.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="generator"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:anyURI" name="link"/>
              <xs:element type="xs:string" name="language"/>
              <xs:element type="xs:string" name="webMaster"/>
              <xs:element type="xs:string" name="copyright"/>
              <xs:element type="xs:string" name="pubDate"/>
              <xs:element type="xs:string" name="lastBuildDate"/>
              <xs:element name="image">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="url"/>
                    <xs:element type="xs:anyURI" name="link"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:anyURI" name="link"/>
                    <xs:element name="guid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="isPermaLink" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
              		<xs:element type="xs:string" name="category" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:string" name="pubDate"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>